RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

# Rewrite rule to handle /company_id/refinance.php
RewriteRule ^([^/]+)/refinance\.php$ refinance.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/loan-officer\.php$ loan-officer.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/va-loan-leads\.php$ va-loan-leads.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/real-estate-lead-generation\.php$ real-estate-lead-generation.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/commercial-loan-leads\.php$ commercial-loan-leads.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/fha-loan-leads\.php$ fha-loan-leads.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/jumbo-loan-leads\.php$ jumbo-loan-leads.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/dscr\.php$ dscr.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/reverse_mortgage\.php$ reverse_mortgage.php?company_id=$1 [L]

# Rewrite rule to handle /company_id/loan-officer.php
RewriteRule ^([^/]+)/va-loan-purchase-leads\.php$ va-loan-purchase-leads.php?company_id=$1 [L]